@use "../../styles/Variables.scss" as *;

.Character-Control {
    display: flex;
    justify-content: center;
}

.Character-Control-Content {
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
    min-height: 60px;
    width: 100%;
    max-width: $content-max-width;
    padding-bottom: 10px;

    @media only screen and (max-width: $small-screen) {
        flex-direction: column;
    }
}

.Select-Container {
    text-align: left;
    padding-left: 10px;
}

.Select-Label {
    display: block;
    margin-bottom: 5px;
}

.Select {
    min-width: 130px;
}
