@use "../../styles/Variables.scss" as *;

.Character-List {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Character {
    background-color: #fff;
    max-width: $content-max-width;
    width: 100%;
}

.Character-Content {
    display: flex;
    padding-right: 5px;

    @media only screen and (max-width: $small-screen) {
        flex-direction: column;
        padding: 5px;
    }
}

.Character-Avatar {
    border-radius: 50%;
    padding: 15px;
    width: 60px;
    height: 60px;

    @media only screen and (max-width: $small-screen) {
        margin: auto;
    }
}

.Character-Info {
    p {
        text-align: left;

        @media only screen and (max-width: $small-screen) {
            text-align: center;
        }
    }
}

.Character-Name {
    font-size: 14px;
}

.Character-Category,
.Character-Description {
    font-size: 12px;
}
